/* || USER CARD */

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
}

.user-card {
  padding: 1rem;
  background-color: var(--borderColor);
  border-radius: 10px;
  border: 1px solid var(--accent);
}

.user-card a {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.user-card__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-card__info h3 {
  margin: 0;
  font-size: 1rem;
}

.user-card__info p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

/* || DOCSIFY */

#docsify-darklight-theme {
  top: 8px;
}
